.widget_codeable_42265_posts_by_votes_widget a {
	z-index: 9999;
}

.codeable_42265_post_by_votes_column .vc_btn3-container {
	margin-bottom: 5em;
}

.widget_codeable_42265_posts_by_votes_widget .wp-post-image {
	max-width: 100px;
	float: right;
}