.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank {
	color: rgba(0, 0, 0, 0.5);
	background: #eee;
	border: 1px solid grey;
	display: inline-block;
	height: 2em;
	width: 3em;
	line-height: 2em;
	text-align: center;
	vertical-align: bottom;
	padding: 0;
	margin-right: .5em;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_ranked,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_ranked {
	font-size: .8em;
	font-style: italic;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_1,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank_1,
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_2,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank_2,
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_3,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank_3 {
	font-weight: bold;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_1,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank_1 {
	background: #ffcc01;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_2,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank_2 {
	background: #b4b8bc;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_3,
.widget_codeable_42265_posts_by_votes_widget .codeable_42265_post_by_votes_rank_3 {
	background: #d1a684;
}
.widget_codeable_42265_posts_by_votes_widget a {
	z-index: 9999;
}
.widget_codeable_42265_posts_by_votes_widget .wp-post-image {
	max-width: 100px;
	float: right;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_column_0 {
	margin-top: 3em;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_wrapper {
	font-size: 2em;
	text-align: center;
	position: relative;
	left: -4em;
	top: 3em;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_wrapper .codeable_42265_post_by_votes_rank {
	border-radius: 99em;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_wrapper .codeable_42265_post_by_votes_ranked {
	display: none;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_1,
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_2,
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_3 {
	border: none;
	color: transparent;
	height: 327px;
	margin-left: -106px;
	position: absolute;
	top: -146px;
	width: 446px;
	z-index: 9999;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_1 {
	background: transparent url('../images/1st.png') center center no-repeat;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_2 {
	background: transparent url('../images/2nd.png') center center no-repeat;
}
.shortcode_codeable_42265_posts_by_votes .codeable_42265_post_by_votes_rank_3 {
	background: transparent url('../images/3rd.png') center center no-repeat;
}
.shortcode_codeable_42265_posts_by_votes .vc_btn3-container {
	margin-bottom: 5em;
}
