@color_1: rgba( 0, 0, 0, .5 );
@color_gold: #ffcc01;
@color_silver: #b4b8bc;
@color_bronze: #d1a684;

.shortcode_codeable_42265_posts_by_votes,
.widget_codeable_42265_posts_by_votes_widget {
	.codeable_42265_post_by_votes_rank {
		color: @color_1;
		background: #eee;
		border: 1px solid grey;
		display: inline-block;
		height: 2em;
		width: 3em;
		line-height: 2em;
		text-align: center;
		vertical-align: bottom;
		padding: 0;
		margin-right: .5em;
	}
	.codeable_42265_post_by_votes_ranked {
		font-size: .8em;
		font-style: italic;
	}
	.codeable_42265_post_by_votes_rank_1,
	.codeable_42265_post_by_votes_rank_2,
	.codeable_42265_post_by_votes_rank_3 {
		font-weight: bold;
	}
	.codeable_42265_post_by_votes_rank_1 {
		background: @color_gold;
	}
	.codeable_42265_post_by_votes_rank_2 {
		background: @color_silver;
	}
	.codeable_42265_post_by_votes_rank_3 {
		background: @color_bronze;
	}
}

.widget_codeable_42265_posts_by_votes_widget {
	a {
		z-index: 9999;
	}
	.wp-post-image {
		max-width: 100px;
		float: right;
	}
}
.shortcode_codeable_42265_posts_by_votes {
	.codeable_42265_post_by_votes_column_0 {
		margin-top: 3em;
	}
	.codeable_42265_post_by_votes_rank_wrapper {
		font-size: 2em;
		text-align: center;
		position: relative;
		left: -4em;
		top: 3em;
		.codeable_42265_post_by_votes_rank {
			border-radius: 99em;
		}
		.codeable_42265_post_by_votes_ranked {
			display: none;
		}
	}
	.codeable_42265_post_by_votes_rank_1,
	.codeable_42265_post_by_votes_rank_2,
	.codeable_42265_post_by_votes_rank_3 {
		border: none;
		color: transparent;
		height: 327px;
		margin-left: -106px;
		position: absolute;
		top: -146px;
		width: 446px;
		z-index: 9999;
	}
	.codeable_42265_post_by_votes_rank_1 {
		background: transparent url('../images/1st.png') center center no-repeat;
	}
	.codeable_42265_post_by_votes_rank_2 {
		background: transparent url('../images/2nd.png') center center no-repeat;
	}
	.codeable_42265_post_by_votes_rank_3 {
		background: transparent url('../images/3rd.png') center center no-repeat;
	}
	.vc_btn3-container {
		margin-bottom: 5em;
	}
}
